/*----------------------------
  
  layout： index
  author： Toby
  tags  ： todo
  create: 2016/9/23

==============================

  |-- 
  |-- 
  |-- 
  |-- 


-----------------------------*/

@import "../../base/base.scss";



.header-comp{
    
   .top-bar{

        @include rect(100%,60px);
        background-color:#fff;
        color: #B7CE54;
        text-align: center;
        font-size: 20px;
        line-height: 60px;
        padding-left: 20px;
        cursor:default;

        .prev-arrow{
            
            @include circle(30px);
            @include bg-cover("../../images/global/arrow-prev.png")
            margin-top: 15px;
            position: absolute;
            cursor:pointer;

        }

   }

}
