@import "../../base/base.scss";


.about-bg{
    
    margin-bottom: 50px;
    overflow: hidden;

    
    .about-banner{

        width: 100%;

    }
    
    .info{

        padding: 40px 20px;
        text-align: justify;

        p{

            font-size: 16px;
        }
    }

    .link{
        
        position: relative;
        margin-left:50px;
        cursor:pointer;

        &:before{

            @include margin-leftop(-30px,-2px);
            content: "\f003";
            font-family: FontAwesome;
            font-style: normal;
            font-weight: normal;
            text-decoration: inherit;
        /*--adjust as necessary--*/
            color: #000;
            font-size: 18px;
            padding-right: 0.5em;
            position: absolute;
            

        }
    }

}
