@import "../../base/base.scss";


.main-bg{
 
    
    .slick-slider{

        // .slick-dots{

        //     top:260px;

        // }

        img{

            @include rect(100%,initial);


        }
    }

    .btn-container{
        
        @include rect(100%,40px);

        .btn-grp{
            
            @include rect(50%,40px);
            background-color: #F9AD32;
            color:#fff;
            float: left;
            line-height: 40px;
            font-size: 16px;
            text-align: center;


        }


        .btn-01{
            
        }

        .btn-02{
            border-left: 1px solid #fff;
        }
    }



}
