@import "../../base/base.scss";


.tabs-button-comp {
    
    @include rect(100%,70px);
    
    .tabs-button-li{
        
        @include rect(25%,70px);
        background-color: #202020;
        color:#fff;
        float: left;
        
        img{

            @include rect-center(30px,30px);
            margin-top: 10px;
            // background-color: #fff;
    
        }

        span{

            line-height: 20px;
        }

    }
}

