/*----------------------------
  
  layout： index
  author： Toby
  tags  ： todo
  create: 2016/9/23

==============================

  |-- 
  |-- 
  |-- 
  |-- 


-----------------------------*/

@import "../../base/base.scss";



.main-list-comp{
    a{
        color:$font-color;

    }
    .main-list-li{

        @include rect(100%,40px);
        border-bottom: 1px solid $list-divider;
        cursor:pointer;
        
        img{
            
            @include square(30px);
            @include img-middle;
            margin-left: 20px;
            vertical-align: middle;
            display: inline-block;
            float: left;
        }

        span{
            @include text-middle(40px);
            font-size: 16px;
            margin-left: 5px;
            float: left;

        }
        

    }
}
