

/*------- COLOR -------*/

$list-divider:#dcdcdc;

$font-color:#2c2c39;
$title-orange:#fbae18;
$bg-color:#F5F5F5;
$event-title:#22b17b;

/*------- MIXIN -------*/
@mixin center{

    margin-left: auto;
    margin-right: auto;
}


@mixin margin($px){

    margin-left: $px;
    margin-right: $px;
}

@mixin margin-v($px){

    margin-top: $px;
    margin-bottom: $px;
}

@mixin margin-leftop($left,$top){

    margin-left: $left;
    margin-top: $top;

}

@mixin rect($width,$height){

    width: $width;
    height: $height;
}


@mixin rect-center($width,$height){
    
    width: $width;
    height: $height;
    margin-left: auto;
    margin-right:auto;
}


@mixin square($px){

    width: $px;
    height: $px;
}

@mixin circle($px){

    width: $px;
    height: $px;
    border-radius: 99em;
}

@mixin bg-cover($url){

    background-image: url($url);
    background-repeat: no-repeat;
    background-size: cover; 
}


@mixin bg-contain($url){

    background-image: url($url);
    background-repeat: no-repeat;
    background-size: contain; 
}

@mixin text-center{

    width: 100%;
    text-align: center;
    display: inline-block;
    cursor: default;

}



@mixin text-middle($height){

    height: $height;
    line-height: $height;

}

@mixin img-middle{

    position: relative;
    top: 50%;
    transform: translateY(-50%);

}


@mixin component{

    height: 100%;
    line-height: 100%;

}





/*------- 客製化mixin -------*/








/*------- BASE -------*/
html{

    position: relative;
    min-height: 100%;

    body{

        margin: 0 0 100px;
        font-family: PingFangSC-Light, sans-serif;
        
        div{

            cursor:default;
        }
        button,iframe{

            display: block;
        }
        
        /*------- 字體 -------*/

        h1{ font-size: 36px; }
        h2{ font-size: 30px; }
        h3{ font-size: 24px; }
        h4{ font-size: 20px; }
        h5{ font-size: 16px; }
        h6{ font-size: 14px; }

        span{font-size: 14px;  }
        p{ font-size: 12px; }


        /*------- 圖片 -------*/
        img {
            display: none;
        }


        img[src] {
           display: block;
        }


        ul{
            
            @include margin-v(0px);
            list-style:none;
            padding-left: 0px;


            li{

                // cursor:pointer !important;
            }
        }

        li{
                 list-style:none;
                // cursor:pointer !important;
        }

        
        a{
            text-decoration: none;
            cursor:pointer !important;
        }

        h1,h2,h3,h4,h5,h6,span{
            
            cursor:default !important;
        }
        
        footer{

            position: absolute;
            width: 100%;
            bottom: 0px;
        }


    }
}