@import "./base.scss";


body{

    width: 100%;
    background-color: $bg-color;
    
    .global-bg{

        @include rect-center(100%,initial);
        
    
    }


    .page-title{

        @include rect(100%,40px);
        background-color: $title-orange;
        color:#fff;
        font-size: 18px;
        text-align: center;
        line-height: 40px;
        


    }
    
    .bg-grp{

        margin-bottom: 50px;
        overflow: hidden;

    }

}
