@import "../base/base.scss";
/*------- EXAMPLE -------*/


//一路由上往下規範
// @media (max-width: 1920px) {}





/*------- INITIAL VAR -------*/

$first-checkpoint: 1080px;

$tablet-width: 768px;

$second-checkpoint: 500px;

$third-checkpoint: 0px;


$mobile: 420px;







@media (max-width: $mobile) {
    // .tabs-button-comp {
    
    //     @include rect(100%,70px);
        
    //     .tabs-button-li{
            
    //         @include rect(25%,70px);
    //         background-color: #202020;
    //         color:#fff;
    //         float: left;
            
    //         img{

    //             @include rect-center(30px,30px);
    //             margin-top: 10px;
    //             // background-color: #fff;
        
    //         }

    //         span{

    //             line-height: 20px;
    //         }

    //     }
    // }
    
    
  
}//  < first


