@import "../../base/base.scss";


.dropdown-comp{
    
    
    .dropdown-li{
        
        
        .select-bar{
            @include rect(100%,40px);
            background-color: #fff;
            border-bottom: 1px solid $list-divider;
            font-size: 18px;
            line-height: 40px;
            text-align: center;
            cursor:pointer;

            img{
                
                
                @include rect(12px,8px);
                position: absolute;
                right: 20px;
                margin-top: -25px;

            }

        }

        .select-intro{

            padding: 10px 20px;
            line-height: 24px;
            text-align: justify;
            
            img[src] {
               @include rect-center(90%,initial);
            }

        }
        
        .select-video{
            
            margin-bottom: 50px;

            .dropdown-sub-li{
                
                margin-bottom: 30px;
                
                .sub-title{
                    @include text-middle(30px);
                    margin-left: 20px;
                }

                .sub-video{
                    margin-left: 20px;

                }
                
                .sub-info{
                    height: 100px;

                }
                

            }
        }

    }
}



.intro-bg{

    .dropdown-comp{
    
    
        .dropdown-li{
            
            
            .select-bar{
              

            }

            .dropdown-sub-li{
                
                .sub-title{
                
                }

                .sub-video{
                   
                    display:none;
                }
                
                .sub-info{
                   

                }
                

            }

        }
    }





}