@import "../../base/base.scss";



.thumbnails-comp{
        
    @include rect-center(100%,initial);
    a{
        color:$font-color;
        text-decoration: none;
    }
    .thumbnails-li{
        
        @include rect(100%,130px);
        // @include margin(20px);
        // margin-bottom: 100px;
        position: relative;
        text-align: justify;
        border-bottom: 1px solid $list-divider;
        cursor:pointer;
        // float: left;
        .top-title{
            font-size: 18px;
            text-align: center;
        }
        
        
        img{
            @include rect(140px,100px);
            @include img-middle;
            margin-left: 20px;
            float: left;
        }
        

        .info-container{
            

            @include rect(200px,80px);
            @include margin-leftop(10px,10px);
            float: left;
            cursor:pointer;
            
            span{

                font-size: 18px;
                // font-weight: bold;

            }

            .info{
                
                margin-top: 0px;
                line-height: 20px;
                font-size: 14px;
            }



        }
        

    }
  
}





.main-bg{
    .thumbnails-comp{

        .thumbnails-li{
            .top-title{
                display:none;
            }
            .info-container{
                .date{
                    display:none;
                }
            }
        }
    }
}


.game-bg{
    .thumbnails-comp{
        .thumbnails-li{
            @include rect-center(100%,330px);
            .top-title{

                height: 60px;
                line-height: 60px;
            }
            img{

                @include rect-center(320px,230px);
                top: initial;
                transform: initial;
                float: initial;
            }
            
            .info-container{
                display: none;
            }
        }
    }
}

.event-bg{
    .thumbnails-comp{
        
        .thumbnails-li{
            @include rect-center(340px,140px);
            @include margin-v(20px);
            background-color: #fff;
            box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

            .top-title{

                display: none;
            }
            img{

                @include rect-center(340px,80px);
                top: initial;
                transform: initial;
                float: initial;
            }
            
            .info-container{
                @include rect-center(100%,60px);
                padding-left: 10px;
                .date{
                    width: 100%;
                    text-align: center;
                    font-size: 14px;
                }

                .title{
                    float: initial;
                    display:block;
                    color:$event-title;
                }
            }
        }
    }
}

